#main-navbar-menu .navbar-item {
  transition-duration: 0.3s;
}

.grow {
  transition: all .3s ease;

  &:hover {
    transform: scale(1.01);
  }
}

.pagination-link {
  transition-duration: 0.2s;
  $hover-transform: 0.5rem;

  &__left:hover {
    transform: translateX(-$hover-transform);
  }

  &__right:hover {
    transform: translateX($hover-transform);
  }
}

.rainbow {
  @include from($desktop) {
    transition: 200ms cubic-bezier(.17, .67, .83, .67);

    background-image: linear-gradient(45deg,
      #eb4d9c,
      #d33024,
      #e48233,
      #f4e24d,
      #b4dc48,
      #54b2ea,
      #663399 50%);
    background-size: 200% 200%;
    -webkit-background-clip: text;

    &:hover {
      background-position: 0 0;
      color: rgba(102, 51, 153, 0);
    }
  }
}