#main-navbar-menu .navbar-item {
  transition-duration: 0.3s;
}

.grow {
  transition: all .3s ease;

  &:hover {
    transform: scale(1.01);
  }
}

.pagination-link {
  transition-duration: 0.2s;
  $hover-transform: 0.5rem;

  &__left:hover {
    transform: translateX(-$hover-transform);
  }

  &__right:hover {
    transform: translateX($hover-transform);
  }
}