@import 'shared-variable';

#blog-nav {
  .column {
    @include mobile {
      padding: 0;
    }
  }

  .blog-nav-font {
    color: white;
    height: auto;
    font-size: 1.25rem;

    @include mobile {
      font-size: 1rem;
    }
  }

  .pagination-link {
    border: 0;
    color: lighten(orange, 10%);
    transition-duration: 0.2s;

    &:hover {
      color: white;
    }
  }

  .blog-nav-page {
    @extend %unselectable;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.touch #blog-nav {
  @extend %margin-lr-auto;

  @media screen and (min-width: $post-breakpoint) and (max-width: $tablet - 1px) {
    max-width: 576px;
  }
}