@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito",
Helvetica,
sans-serif;

$widescreen-enabled: false;
$fullhd-enabled: false;

$box-radius: 14px;
$box-shadow: 8px 14px 38px rgba(136, 0, 255, 0.25),
1px 3px 8px rgba(237, 170, 247, 0.3);

$body-background-color: #272727;
$primary: #A239CA;
$link: $primary;
$title-line-height: 1.4;

@import "bulma";

.box-padding {
  @include from($desktop) {
    padding: 3rem;
  }

  @include mobile {
    padding: 1.5rem;
  }

  @include tablet-only {
    padding: 2.5rem;
  }
}

.postpreview-padding {
  @include from($desktop) {
    margin: 0 3rem;
  }

  @include mobile {
    margin: 0 0.8rem;
  }

  @include tablet-only {
    margin: 0 2.5rem;
  }
}

.post-padding {
  @include from($desktop) {
    margin: 0 2rem;
  }

  @include mobile {
    margin: -1rem 0 -2rem 0;
  }

  @include tablet-only {
    margin: 0 2.5rem;
  }
}

.box-radius {
  @include mobile {
    border-radius: 4px;
  }

  @include tablet-only {
    border-radius: 10px;
  }

  @include from($tablet) {
    border-radius: 14px;
  }
}