@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito",
Helvetica,
sans-serif;

$widescreen-enabled: false;
$fullhd-enabled: false;

$box-radius: 14px;
$box-padding: 2.5rem;
$box-shadow: 8px 14px 38px rgba(39, 44, 49, .06),
1px 3px 8px rgba(39, 44, 49, .03);

@import "bulma";