@import '~bulma/sass/utilities/mixins.sass';

.navbar-center {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;

  @include until($desktop) {
    flex-grow: 1;
    margin-left: $navbar-height;
    flex-direction: column;
    justify-content: center;
  }
}

#main-navigation {
  @extend %unselectable;
  background: linear-gradient(to left, #663399 40%, #77459b 100%);

  .navbar-item {
    transition-duration: 0.3s;
  }
}