@import 'shared-variable';

.post {
  @include desktop {
    margin-top: 1.5rem;
  }

  &__remove-image-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .page-content {
    padding-bottom: 0;
  }

  .card {
    @include mobile {
      border-radius: 0;
    }
  }
}

.no-touch .post {
  @include tablet-only {
    margin: 1.5rem 1.5rem 0;
  }
}

.touch .post {
  .card {
    @include touch {
      border-radius: 0;
    }
  }

  .page-content {
    @extend %margin-lr-auto;

    @include until($post-breakpoint) {
      padding: 1rem 1rem 0;
    }

    @media screen and (min-width: $post-breakpoint) and (max-width: $tablet - 2px) {
      max-width: 576px;
    }

    @media screen and (width: $tablet - 1px) {
      max-width: 720px;
    }

    @include tablet-only {
      padding: 2rem 2rem 0;
      max-width: 960px;
    }
  }
}

.post-recommend {
  @include mobile {
    margin: 0 1rem;
  }

  @include tablet-only {
    margin: 0 1.5rem;
  }

  @include desktop {
    margin: 0 2rem;
  }
}

.post-comment {
  @include mobile {
    margin: 0 1.5rem 1.5rem;
  }

  @include tablet-only {
    margin: 0 2.5rem 2.5rem;
  }

  @include desktop {
    margin: 0 3rem 3rem;
  }
}

.post-navigation {
  display: flex;
  flex-flow: row wrap;
  padding: 1.5rem 0;
  margin-top: 1.5rem;
  border-top: 4px solid rgba(0, 0, 0, 0.05);
  justify-content: space-between;

  .button {
    transition-duration: 0.2s;
    margin: 1rem 0;
    flex: 0 0 100%;

    @include tablet {
      flex-basis: calc(50% - 1rem);
    }

    white-space: normal;
    height: auto;
  }
}