@import '~bulma/sass/utilities/mixins.sass';

.post {
  @include mobile {
    margin-top: 1rem;
  }

  @include tablet-only {
    margin: 2rem 2.5rem 0 2.5rem;
  }

  @include from($desktop) {
    margin: 2rem 2rem 0 2rem;
  }

  &__remove-image-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.post-recommend {
  @include mobile {
    margin: -3rem 1rem 0;
  }

  @include tablet-only {
    margin: -5rem 1.5rem 0;
  }

  @include from($desktop) {
    margin: -5rem 2rem 0;
  }
}

.post-comment {
  @include tablet-only {
    margin: 0 2.5rem;
  }

  @include from($desktop) {
    margin: 0 2rem;
  }
}

.post-navigation {
  display: flex;
  flex-flow: row wrap;
  padding: 1.5rem 0;
  margin-top: 1.5rem;
  border-top: 4px solid rgba(0, 0, 0, 0.05);
  justify-content: space-between;

  .button {
    transition-duration: 0.2s;
    margin: 1rem 0;
    flex: 0 0 100%;

    @include from($tablet) {
      flex-basis: calc(50% - 1rem);
    }

    white-space: normal;
    height: auto;
  }
}