@import '~bulma/sass/utilities/mixins.sass';

$postpreview-mobile-padding: 1.75rem;

.postpreview {
  & &__content {
    @include mobile {
      padding: $postpreview-mobile-padding;
    }

    @include tablet-only {
      padding: 2.5rem;
    }

    @include from($desktop) {
      padding: 3rem;
    }
  }

  & &__tag {
    font-size: 1rem;

    @include mobile {
      font-size: 0.75rem;
    }
  }

  & &__readmore {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    @include mobile {
      margin-bottom: 0.75rem;
    }
  }
}

.title.postpreview__header {
  margin-bottom: 0;

  a {
    color: #363636;

    &:hover {
      color: orange;
    }
  }
}