@import './postpreview.scss';

.postpreview {
  & &__image {
    @include from($tablet) {
      margin-bottom: -1rem;
    }
  }
}

.postpreview__container {
  padding-top: 1rem;

  @include mobile {
    margin: 0 0.8rem;
  }

  @include tablet-only {
    margin: 0 2.5rem;
  }

  @include from($tablet) {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}