@import './postpreview.scss';

.postpreview {
  & &__image {
    @include from($tablet) {
      margin-bottom: -1rem;
    }
  }

  & &__readmore {
    margin-top: 0.75rem;

    @include mobile {
      margin-bottom: 0.75rem;
    }
  }
}