@import '~bulma/sass/utilities/mixins.sass';

#scroll-to-top {
  display: block;
  opacity: 0;
  transition: opacity .3s ease-in;
  position: fixed;
  bottom: 30px;
  right: 30px;

  @include mobile {
    bottom: 10px;
    right: 10px;
  }

  &:hover .bounce {
    animation: bounce 0.5s cubic-bezier(.5, 0.05, 1, .5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

.scroll {
  &__text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__mobile {

    @include until($desktop) {
      display: block;
    }

    @include from($desktop) {
      display: none;
    }
  }

  &__not-mobile {

    @include until($desktop) {
      display: none;
    }

    @include from($desktop) {
      display: block;
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-6px);
  }
}