.card {
  overflow: auto;
  border-radius: 14px;

  @include mobile {
    border-radius: 4px;
    margin-top: -1rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;

    @include mobile {
      margin-bottom: 2rem;
    }
  }
}

.card-content {
  @include from($desktop) {
    padding: 3rem;
  }

  @include mobile {
    padding: 1.5rem;
  }

  @include tablet-only {
    padding: 2.5rem;
  }
}

.blog-padding {
  @include from($desktop) {
    margin: 0 3rem;
  }

  @include mobile {
    margin: 0 0.8rem;
  }

  @include tablet-only {
    margin: 0 2.5rem;
  }
}

.pagination-font {
  color: white;
  font-size: 1.25rem;

  @include mobile {
    font-size: 1rem;
  }

}

a>.title.pagination-font {
  color: lighten(orange, 10%);

  &:hover {
    color: white;
  }
}