.box {
  overflow: auto;

  @include from($desktop) {
    padding: 3rem;
    border-radius: 14px;
  }

  @include mobile {
    padding: 1.5rem;
    border-radius: 4px;
  }

  @include tablet-only {
    padding: 2.5rem;
  }
}

.box-image-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.postpreview-padding {
  @include from($desktop) {
    margin: 0 3rem;
  }

  @include mobile {
    margin: 0 0.8rem;
  }

  @include tablet-only {
    margin: 0 2.5rem;
  }
}

.post-padding {
  @include from($desktop) {
    margin: 0 2rem;
  }

  @include mobile {
    margin-top: -1rem;
  }

  @include tablet-only {
    margin: 0 2.5rem;
  }
}

.pagination-font {
  color: white;

  @include from($tablet) {
    font-size: 1.25rem;
  }

  @include mobile {
    font-size: 1rem;
  }

}

a>.title.pagination-font {
  color: lighten(orange, 10%);

  &:hover {
    color: white;
  }
}