.card {
  overflow: hidden;
  border-radius: 12px;

  @include mobile {
    border-radius: 4px;
    margin-top: -1rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;

    @include mobile {
      margin-bottom: 2rem;
    }
  }
}

.blog-container {
  padding-top: 1rem;

  @include from($desktop) {
    margin: 0 3rem;
  }

  @include mobile {
    margin: 0 0.8rem;
  }

  @include tablet-only {
    margin: 0 2.5rem;
  }
}